.jumbotron{
	background-image: url("/static/img/background.jpg");
	background-position: center;
	background-size: cover;
    height: 650px;
    color : white;   
}
.navbar-nav  > li > a {
    color: white;
}
